.Main {

  border: 1px solid #DDDDDD;
  border-radius: 8px;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  &_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;

  }
}

.Links {
  
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  padding: 2px;
  justify-content: center;
  max-height: 600px;
  overflow: auto;
}