.Main {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  width: 100%;
  flex-grow: 1;
  padding: 10px;

  &_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
  }
}

.Insta {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 2px;

  &_Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    border-radius: 8px;
    background-color: #EEEEEE;
    padding: 10px;
    text-decoration: none;
    overflow-x: auto;
    &>*{
      flex: 0 0 auto;
    }

    &_Name {
      display: flex;
      flex-direction: row;
      column-gap: 4px;
      align-items: center;
    }
  }
}