@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Main {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  &_Ani {
    animation: fade-in 1000ms forwards;
  }
}

.Content {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 800px;
}